asgiref==3.11.1
Authlib==1.7.2
boto3==1.43.34
botocore==1.43.34
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
Django==6.0.5
django-jazzmin==3.0.5
django-storages==1.14.6
gunicorn==26.0.0
idna==3.17
jmespath==1.1.0
joserfc==1.6.8
packaging==26.2
Pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
pycparser==3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
s3transfer==0.19.0
six==1.17.0
slack_sdk==3.42.0
sqlparse==0.5.5
urllib3==2.7.0
whitenoise==6.12.0
