asgiref==3.11.1
Authlib==1.7.2
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
Django==6.0.5
django-browser-reload==1.21.0
dotenv==0.9.9
idna==3.17
joserfc==1.6.8
pycparser==3.0
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
