{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layered Admin</title>
    <link rel="stylesheet" href="{% static 'layered_site/style.css' %}">
</head>
<body class="page" id="admin-dashboard-page">
    <nav class="sidebar">
        <a href="/root/">home</a>
        {% if perms.layered_site.fulfillment or perms.layered_site.organizer %}
            <a href="/root/shop">shop management</a>
            <a href="/root/fulfillment">fulfillment</a>
        {% endif %}
        {% if perms.layered_site.printer or perms.layered_site.organizer %}
            <a href="/root/print">print</a>
        {% endif %}
        {% if perms.layered_site.t1_review or perms.layered_site.organizer or perms.layered_site.t2_review or perms.layered_site.t3_review %}
            <a href="/root/review">review</a>
        {% endif %}
        {% if perms.layered_site.t2_review or perms.layered_site.organizer or perms.layered_site.t3_review %}
            <a href="/root/ysws_review">ysws review</a>
        {% endif %}
        {% if perms.layered_site.t3_review or perms.layered_site.organizer %}
            <a href="/root/fraud_review">fraud review</a>
        {% endif %}
    </nav>
    <div class="content">
        {% include "root/_messages.html" %}
        <h1>Fraud Review Dash</h1>
        <h3>(T3) Review em projects!!</h3>
        {% for ship in ships %}
            <div class="project-card" data-project-id="{{ ship.project.id }}">
                <div class="card-row">
                    <div class="card-main">
                        <a href="{% url 'fraud_review_project' ship.id %}"><strong>{{ ship.project.title }}</strong></a>
                        <p>{{ ship.project.description }}</p>
                    </div>
                </div>
            </div>    
        {% endfor%}
    </div>
</body>
</html>