{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layered Admin</title>
    <link rel="stylesheet" href="{% static 'layered_site/style.css' %}">
</head>
<body class="page" id="admin-dashboard-page">
    <div class="content">
        <h1>Admin Dash</h1>
        <h2>Hai I'm an Admin Dash</h2>

        <a href="/root/shop">shop management</a>
        <a href="/root/fulfillment">fulfillment</a>
        <a href="/root/print">print</a>
        <a href="/root/review">review</a>
        <a href="/root/ysws_review">ysws review</a>
        <a href="/root/fraud_review">fraud review</a>
    </div>
</body>
</html>