{% extends 'root/_base_root.html' %}

{% block page_id %}admin_print_page{% endblock %}
{% block title %}Print Queue{% endblock %}

{% block content %}
<div class="content">
    {% include "root/_messages.html" %}
    <h1>Print Dash</h1>
    <h3>Claimed by you</h3>
    <div class="card-grid">
        {% for print in claimed_prints %}
            <div class="project-card" data-project-id="{{ print.ship.project.id }}">
                <div class="card-row">
                    <div class="card-main">
                        <strong><a href="{% url 'print_project' print.ship.id %}">{{ print.ship.project.title }}</a></strong>
                        <p>{{ print.ship.project.description }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>You haven't claimed any prints.</p>
        {% endfor %}
    </div>
    <h3>Print queue</h3>
    <div class="card-grid">
        {% for ship in ships %}
            <div class="project-card" data-project-id="{{ ship.project.id }}">
                <div class="card-row">
                    <div class="card-main">
                        <strong><a href="{% url 'print_project' ship.id %}">{{ ship.project.title }}</a></strong>
                        <p>by {{ ship.project.owner.hackclub_profile.slack_username }}</p>
                        <p>Type: {{ ship.project.editor_name }}</p>
                        <p>{{ ship.project.description }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>The print queue is empty.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}