{% extends 'root/_base_root.html' %}

{% block page_id %}admin-review-page{% endblock %}
{% block title %}Review Dash{% endblock %}

{% block content %}
<div class="content">
    {% include "root/_messages.html" %}
    <h1>Review Dash</h1>
    <h3>T1 Reviews</h3>
    <div class="card-grid">
        {% for ship in ships %}
            <div class="project-card" data-project-id="{{ ship.project.id }}">
                <div class="card-row">
                    <div class="card-main">
                        <strong><a href="{% url 'review_project' ship.id %}">{{ ship.project.title }}</a></strong>
                        <p>by {{ ship.project.owner.hackclub_profile.slack_username }}</p>
                        <p>Type: {{ ship.project.editor_name }}</p>
                        <p>{{ ship.project.description }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No projects awaiting T1 review.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}