{% extends 'root/_base_root.html' %}

{% block page_id %}admin-review-page{% endblock %}
{% block title %}Review Dash{% endblock %}

{% block content %}
<div class="content">
    {% include "root/_messages.html" %}
    <h1>Review Dash</h1>
    <h3>(T1) Review em projects!!</h3>
    {% for ship in ships %}
        <div class="project-card" data-project-id="{{ ship.project.id }}">
            <div class="card-row">
                <div class="card-main">
                    <strong><a href="{% url 'review_project' ship.id %}">{{ ship.project.title }}</a></strong>
                    <p>{{ ship.project.description }}</p>
                    <p>by {{ ship.project.owner.hackclub_profile.slack_username }}</p>
                    <p>type: {{ ship.project.editor_name }}</p>
                </div>
            </div>
        </div>
        <br>
    {% endfor%}
</div>
{% endblock %}