{% extends 'root/_base_root.html' %}

{% block page_id %}admin-users-page{% endblock %}

{% block content %}
<div class="content">
    {% include "root/_messages.html" %}
    <h1>Users</h1>
    <h3>Manage Users</h3>
    <table class="users-table">
        <thead>
            <tr>
                <th></th>
                <th>User ID</th>
                <th>Slack Username</th>
                <th>Slack ID</th>
                <th>Layers</th>
                <th>Groups</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr data-user-id="{{ user.id }}">
                <td>
                    {% if user.hackclub_profile.slack_pfp_url %}
                    <img src="{{ user.hackclub_profile.slack_pfp_url }}" style="border-radius: 50%; width: 40px; height: 40px;">
                    {% else %}
                    <img src="{{ default_pfp_url }}" style="border-radius: 50%; width: 40px; height: 40px;">
                    {% endif %}
                </td>
                <td>{{ user.id }}</td>
                <td>{{ user.hackclub_profile.slack_username|default:"not found" }}</td>
                <td>{{ user.hackclub_profile.slack_id|default:"not found" }}</td>
                <td>{{ user.hackclub_profile.layers|default:"0" }}</td>
                <td>{{ user.groups.all|join:", "|default:"no groups found" }}</td>
                <td>
                    <a href="#" onclick="viewPrivateInfoPopup">view private info</a> |
                    <a href="#" onclick="editUserPopup">edit user</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}