{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Layered{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'layered_site/style.css' %}">
</head>
<body class="page" id="{% block page_id %}base-page{% endblock %}">
    {% include 'layered_site/_navbar.html' %}

    {% block content %}
    {% endblock %}

    <div class="profile">
        <img src="{{ user.hackclub_profile.slack_pfp_url }}" id="pfp">
        <p>{{ user.hackclub_profile.slack_username }}</p>
        <p>{{ profile.layers }} layers</p>
    </div>
</body>
</html>