{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layered</title>
    <link rel="stylesheet" href="{% static 'layered_site/style.css' %}">
</head>
<body class="page" id="dashboard-page">
    <nav class="sidebar">
            <a href="/dashboard">Home</a>
            <a href="/projects">Projects</a>
            <a href="/explore">Explore</a>
            <a href="/shop">Shop</a>
    </nav>
    <div class="content">
        <h1>waow it worked</h1>
        <p>if u can see this it means hcauth worked yay</p>
        <p>your email: {{ user.email }}</p>
        <p>your name: {{ user.get_full_name }}</p>
        <p>your verification status: {{ user.hackclub_profile.verification_status }}</p>
        <p>your slack id: {{ user.hackclub_profile.slack_id }}</p>
        <p>your slack username: {{ user.hackclub_profile.slack_username }}</p>
        <br>
        <p>your slack PFP (512x512px):</p>
        <img src="{{ user.hackclub_profile.slack_pfp_url }}" style="height: 64; width: 64;">

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}    
            <button id="logoutButton" type="submit">logout</button>
        </form>

        <div class="profile">
            <img src="{{ user.hackclub_profile.slack_pfp_url }}" id="pfp">
            <p>{{ user.hackclub_profile.slack_username }}</p>
            <p>{{ profile.layers }} layers</p>
        </div>
    </div>

</body>
</html>