{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layered</title>
    <link rel="stylesheet" href="{% static 'layered_site/style.css' %}">
</head>
<body class="page" id="explore-page">
    <nav class="sidebar">
        <a href="/dashboard">Home</a>
        <a href="/projects">Projects</a>
        <a href="/explore">Explore</a>
        <a href="/shop">Shop</a>
    </nav>
    <div class="content">
        {% include "root/_messages.html" %}
        <h1>Explore</h1>
        <h2>This is where you can look at other users' projects!</h2>
        
        <div class="profile">
            <img src="{{ user.hackclub_profile.slack_pfp_url }}" id="pfp">
            <p>{{ user.hackclub_profile.slack_username }}</p>
            <p>{{ profile.layers }} layers</p>
        </div>
    </div>

</body>
</html>