{% extends "layered_site/_base.html" %}

{% block page_id %}explore{% endblock %}
{% block title %}Explore{% endblock %}

{% block content %}
<div class="content">
    {% include "root/_messages.html" %}
    <h1>Explore</h1>
        {% if projects %}
                {% for project in projects %}
                        {% if not project.deleted %}
                        <div class="project-card" data-project-id="{{ project.id }}">
                            <div class="card-row">
                                <div class="card-main">
                                    <strong><a href="{% url 'project_detail_explore' project.id %}">{{ project.title }}</a></strong>
                                    <p>by {{ project.owner.hackclub_profile.slack_username }}</p>
                                    <p>{{ project.description }}</p>
                                    {% if project.printablesUrl %}
                                        <p><a href="{{ project.printablesUrl }}" target="_blank" rel="noreferrer">Printables link</a></p>
                                    {% endif %}
                                    {% if project.editor_model_url %}
                                        <p><a href="{{ project.editor_model_url }}" target="_blank" rel="noreferrer">Download editor model</a> ({{ project.editor_name }})</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
        {% else %}
            <p>No projects not made by you yet. Tell your friends to make some!</p>
        {% endif %}
</div>
{% endblock %}