{% extends "layered_site/_base.html" %}

{% block page_id %}shop{% endblock %}
{% block title %}Shop{% endblock %}

{% block content %}
<div class="content">
    {% include "root/_messages.html" %}
    <h1>Shop</h1>
    <section class="item-list">
        <h3>Items</h3>
        {% if items %}
            <div>
                {% for item in items %}
                    {% if not item.deleted %}
                    <div class="item-card" data-item-id="{{ item.id }}">
                        <div class="card-row">
                            <div class="card-main">
                                <img src="{{ item.imageUrl }}" alt="{{ item.name }}" loading="lazy" style="max-width: 30%; max-height: 200px; height: auto;">
                                <br>
                                <strong>{{ item.name }}</strong>

                                <p>{{ item.description }}</p>
                                <p>{{ item.cost }} layers</p> 
                                <form action="{% url 'item_detail' item.id %}" method="get">
                                    <button type="submit">Order</button>
                                </form>

                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
        {% else %}
            <p>No items in the shop yet! Check back later.</p>
        {% endif %}
    </section>
</div>
{% endblock %}